.main{display: flex;
    width: 100%;
    height: 100px;
    position: sticky;
    top:0px;
    background: white;
   
}
.large_nav_flex{align-items: center;
justify-content: space-between;
border-bottom: 1px solid rgb(40, 40, 125);}

.logo_nav{width: 80px;}

.first_option_nav{
    
   align-items: center;
   border-radius: 7px;
            height:48px;
           
         border:2px solid black;}



         .India_Input{border: none;
        width:20%;
    margin-right: 15%;
    }

    .India_Input{height: 100%;}
  
.lang{width: 10%;
height: 40px;}


.search_input_nav{
    display: flex; 
    border:2px solid black;
width: 30%;
height: 44px;
border-radius: 7px;}

.search_inp{width:100%;
height:98%;
border:none;

}




.searh_click_nav{width: 16%;
    height: 100%;
background-color: black;
color: white;
}
.searh_click_nav{color: white;
 margin-left: 1%;
}

 .serach_icon_btn{height: 8px;}